{% extends "base.html" %}

{% load static %}


{% block titulo %}
    {{ imovel.nome }}
{% endblock %}

{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="#">
                    <img class="img-rounded img-responsive center-block" src="{{imovel.imagem.url}}">
                </a>
            </div>
            <div class="col-sm-9">
                <h2>{{ imovel.nome }}</h2>
                <h3><a href="{{ imovel.categoria.get_absolute_path }}">{{ imovel.categoria.nome }}</a></h3>
                <h3>{{ imovel.endereco }}</h3>
                <p>{{imovel.preco}}</p>
            </div>
        </div>
    </div>
{% endblock %}