{% extends "base.html" %}

{% load static %}

{% block titulo %}
    {% if not categoria %}Imoveis{% else %}{{ categoria.nome }}{% endif %}
{% endblock %}

{% block conteudo %}

    {% static "aluguel/images/" as baseUrl %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <h2>Categorias</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li {% if not categoria %}{% if not proximidade %}class="active"{% endif %}{% endif %}>
                                <a href="{% url 'aluguel:lista_imoveis' %}">Todos</a>
                            </li>
                            {% for c in categorias %}
                                <li {% if categoria.slug == c.slug %}class="active"{% endif %}>
                                    <a href="{{ c.get_absolute_path }}">{{ c.nome }}</a>
                                </li>
                            {% endfor %}
                             <li {% if proximidade %}class="active"{% endif %}>
                                    <a href="{% url 'aluguel:proximidade' %}">Listar por proximidade</a>
                             </li>

                        </ul>
                    </div>

                    <div class="col-sm-9">
                        <h2>{% if not categoria %}{% if not proximidade %}Imoveis{% else %}Proximidade{% endif %}{% else %}{{ categoria.nome }}{% endif %}</h2>
                        <div class="row">
                            {% if not proximidade %}
                                {% for imovel in imoveis %}
                                    <div class="col-md-4 col-sm-6">
                                        <div class="thumbnail">
                                            <a href="{{ imovel.get_absolute_path }}">
                                                <img class="img-circle img-responsive center-block"
                                                     src="{{imovel.imagem.url}}" height="220" width="150">
                                            </a>
                                            <div class="caption">
                                                <h4><a href="{{ imovel.get_absolute_path }}">{{ imovel.endereco }}</a></h4>
                                                R$ {{ imovel.preco }}
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <div>
                                <form action="{% url 'aluguel:busca_proximidade' %}" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input type="submit" value="OK">
                                </form>
                            </div>
                                {% if imoveisProximos %}
                                    {% for imovel in imoveisProximos %}
                                        <div class="col-md-4 col-sm-6">
                                            <div class="thumbnail">
                                                <a href="{{ imovel.get_absolute_path }}">
                                                    <img class="img-circle img-responsive center-block"
                                                         src="{{imovel.imagem.url}}" height="220" width="150">
                                                </a>
                                                <div class="caption">
                                                    <h4><a href="{{ imovel.get_absolute_path }}">{{ imovel.endereco }}</a></h4>
                                                    R$ {{ imovel.preco }}
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {%else%}
                                        <div class="col-md-10">
                                            <div class="thumbnail">
                                                <a href="{{ imovel.get_absolute_path }}">

                                                    <h1>Não há imoveis nas proximidades!</h1>
                                                    <br>
                                                    <h2>Tente buscar na região do Rio de Janeiro, Brasil.</h2>

                                                    <br>
                                                </div>
                                            </div>
                                        </div>

                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}